
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    background-color: #1a1a1a;
    font-family:'source-sans', sans-serif ;
}
* {
    padding: 0px;
    margin: 0px;
}
/*index*/
#text-top{
        position: relative;
        padding: 10px 0px;
        font-size: 50px;
}

/*fim de index*/

div#grow a {
    padding: 10px;
}

div#grow a:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/*home*/
/*cabeçalho*/
#cabecalho{
   display: block;
}

/*menu superior*/

div#menusup img{ 
    position: absolute;
    margin: 0px;
    padding-left: 20px;
    padding-top: 10px;
}

div#menusup h1 {
    background-color: #232323 ;
    box-sizing: border-box;
    height:70px ;
    width:100% ;
    border: 2px solid black;
    padding-top: 10px;
}

div#menusup ul {
    position: absolute;
    padding-top: 20px;
    right: 280px;
}

div#menusup li {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid black;
}

/*fim do menu superior*/

/*menu lateral*/

#cabecalho{
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 10vw;
}
#text-top{
    display: flex;
    justify-content: center;
}

nav#menu1 {
    background-color: rgba(16, 16, 16, .5);
    padding: 10px;

}

#menu-lateral{
    display: flex;
    justify-content: end;
    padding-right: 67px;
}

div#menu-lateral ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

div#menu-lateral a {
    color: #cecece;
    padding: 5px;
    display: block;
    font-size: 1.2em;
}

div#menu-lateral a:hover {
    background-color: rgb(85, 85, 85);
}

div#menu-lateral label {
    background-color: #606060;
    padding: 15px;
    position: absolute;
    right: 10px;
    border: 2px solid black;
}

div#menu-lateral input[type="checkbox"] {
    display: none;
}

div#menu-lateral input[type="checkbox"]:checked ~ nav {
    visibility:hidden;
}
/*fim do menu lateral*/

#logo {
    position:absolute;
    padding-top: 10px;
    padding-left: 20px;
    border: #606060;
}
h1{
    position: absolute;
    color:#606060;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    padding: 1px 600px 0px 300px;
}

p {
    text-align: justify;
    color: #ffffff;
    font-family:'source-sans', sans-serif ;
    font-size: 16px;
    padding: 10px;
}

a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}


#imag1 {
    max-width: 100%;
}

/*destaques*/

div#destaque h1 {
    position: absolute;
    right: -500px;
    color: #ffffff;
    font-size: 20px;
    display: none;

}

div#destaque ul {
    padding-top: 300px;
    right: -500px;
    list-style: none;
    border: 2px dashed #cecece;
    height: 10px;
    width: 300px;
    display: none;
}

div#destaque li {
    position: relative;
    text-align: left;
    color: #606060;
    padding: 5px;
    border: 1px solid black;
    height: 10px;
    width: 200px;
    display: none;
}
/*fim de home*/

#thunb{
    margin: auto;
    display: block;
    width: 90vw;
}

#conteudo>p{
    text-indent: 20px;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

footer{
    background-color: #474747;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}
